<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue CSS Grid Layout - Example</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <link rel="stylesheet" href="../dist/vue-css-grid-layout.css">
    <style>
        .render-component {
            display: flex;
            flex-grow: 1;
            justify-content: center;
            align-items: center;
            border: 3px solid lightblue;
        }

        .options {
            margin-bottom: 2em;
        }
    </style>
</head>
<body>
<div id="app">
    <h1>Vue CSS Grid Layout</h1>
    <div class="options">
        <h2>Options</h2>
        <div>
            <label for="gridWidth">Grid width (px)</label>
            <input id="gridWidth" type="range" min="100" max="1000" v-model="gridWidth">
            <span>{{gridWidth}}px</span>
        </div>
        <div>
            <label for="gridHeight">Grid height (px)</label>
            <input id="gridHeight" type="range" min="100" max="1000" v-model="gridHeight">
            <span>{{gridHeight}}px</span>
        </div>
        <div>
            <input id="bgLines" type="checkbox" v-model="backgroundLines">
            <label for="bgLines">Background lines</label>
        </div>
        <div>
            <input id="editable" type="checkbox" v-model="editable">
            <label for="editable">Editable</label>
        </div>
    </div>

    <grid-layout background-color="whitesmoke"
                 :elements="elements" render-component="render-component"
                 :rows="10" :columns="10"
                 :background-lines="backgroundLines"
                 :editable="editable"
                 :style="`width: ${gridWidth}px; height: ${gridHeight}px;`"/>
</div>

<script type="module">
    import { GridLayout } from '../dist/vue-css-grid-layout.es.js'

    Vue.component("render-component", {
        template: '<div class="render-component">{{ element.x }} / {{ element.y }}</div>',
        props: {
            element: Object
        }
    });

    new Vue({
        el: "#app",
        components: {GridLayout},
        data: {
            elements: [{id: 1, x:1, y:1, width: 1, height: 1},{id: 2, x:2, y:2, width: 1, height: 1},{id: 3, x:3, y:3, width: 1, height: 1}],
            gridWidth: 500,
            gridHeight: 500,
            backgroundLines: true,
            editable: false
        },
        methods: {
        }
    });
</script>

</body>
</html>